<div class="add-modal add-curriculum-modal" id="add-curriculum-modal">
  <div class="form">
    <div class="title">
      <label for="curriculum_name"><h2>Curriculum</h2></label>
      <textarea id="curriculum_name" name="curriculum[name]" placeholder="Type curriculum name here"></textarea>
    </div>
    <div class="secondary-entry">
      <label for="curriculum_description"><h2>Description</h2></label>
      <textarea id="curriculum_description" name="curriculum[description]" type="text" placeholder="Type description here"></textarea>
    </div>
    <div class="secondary-entry">
      <label for="curriculum_search"><h3>Definitions <span class="def-count">(0)</span></h3></label>
      <textarea id="curriculum_search" placeholder="Search for words or definitions to add"></textarea>
      <button class="cancel-search hidden">X</button>
    </div>
    <div class="curriculum-search-results-container">
      <ul class="curriculum-search-results">
      </ul>
    </div>
    <div class="curriculum-selected-definitions-container">
      <ul class="curriculum-selected-definitions">
      </ul>
    </div>
    <div class="actions">
      <span class="cancel">
        <a href="#" data-id="add-curriculum-modal">Cancel</a>
      </span>
      <button id="add-cta" class="submit-curriculum">
        Add
      </button>
    </div>
  </div>
</div>