<div class="email-curriculum-modal hidden">
  <div class="form">
  	<div class="emails">
  		<label for="email_emails"><h2>Emails</h2></label>
  		<input type="text" id="email_emails" name="email[emails]" placeholder="Type emails here, separated by commas">
  	</div>
    <div class="email_body">
      <label for="email_body"><h2>Email Body (optional)</h2></label>
      <textarea name="email[body]" id="email_body" type="text" placeholder="Type email body here"></textarea>
    </div>
    <div class="actions">
      <span class="cancel">
        <a href="#" data-id="email-curriculum-modal">Cancel</a>
      </span>
      <button id="add-cta" class="email-curriculum">
        Add
      </button>
    </div>
  </div>
</div>