<div class="content">
  <div class="content-top group">
    <nav class="content-nav">
      FILTER
    </nav>
    <div class="add-new-button">
      <button id="add-cta">
        Add a Curriculum
      </button>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main-curriculums">
      CURRICULUMS
    </div>
  </div>
</div>