<div class="new-curriculum-wrapper group">
  <h2>Create Curriculum</h2>
	<div class="search-and-results">
		<form id="curriculum-search-form">
			<h3>Search for Words and Definitions:</h3>
			<input type="text" name="keyword" id="keyword" style="width: 300px;">
		</form>
		<div class="search-results">
			<ul class="results-list"></ul>
		</div>
	</div>
	<div class="curriculum-details">
		<h3>Details:</h3>
		<form id="create-curriculum">
			<label for="curriculum_name">Curriculum:</label>
			<input type="text" name="curriculum[name]" id="curriculum_name">
			<br>
			<label for="curriculum_description">Description:</label>
			<input type="text" name="curriculum[description]" id="curriculum_description">
			<br>
			<input type="checkbox" name="curriculum[make_private]" id="curriculum_make_private" value="true"> 
			<label for="curriculum_make_private">Make Curriculum Private</label>
			<br>
			<h3 id="defs-added">Definitions Added:</h3>
			<div class="add-definitions-drop">
				<div class="drag-and-drop-message">
					Drag and Drop Definitions Here
				</div>
				<ul>
				</ul>
			</div>
			<br>
			<input type="submit" class="submit">
		</form>
	</div>
</div>