<div class="content">
  <div class="content-top group">
    <div class="content-title">
      <%= @curriculum.name %>
    </div>
    <div class="curriculum-entity-count">
      <h3><%= @definitions.count %> Definitions</h3>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main">
      <%= render partial: "curriculum_definition", collection: @definitions, as: :definition %>
    </div>
</div>