<div class="words-wrapper group">
  <div class="add-words-form group">
    <h2>Add Word</h2>
    <div class="add-word-form">
      <label for="word_name">Word:</label>
      <input type="text" name="word[name]" id="word_name">
      <button class="createWord">Add Word</button>
    </div>
  </div>
  <div class="words-list">
    <h2>Words</h2>
    <div class="words">
      <% words.each(function (word){%>
        <div class="word">
          <div class="word-info group">
            <a href="#" data-id="<%= word.get('id') %>"><%= word.get("name") %></a>
            <button data-id="<%= word.get('id') %>">Delete</button>
            <div class="definitions">
              <% console.log(word.get("definitions").models)%>
              <% if (word.get("definitions").models.length > 0) { %>
                <%= word.get("definitions").models[0].get("body") %>
              <% } %>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>

