<div class="new-session-wrapper">
	<div id="website-description">
  <h2>Log In:</h2>
  <form action="<%= session_url %>" method="post">
    <label for="user_email">Email:</label>
    <input type="text" id="user_email" name="user[email]">
    <label for="user_password">Password:</label>
    <input type="password" id="user_password" name="user[password]">
    <input type="submit" value="Sign In">
  </form>
  <%= link_to "Forgot Password?", forgot_password_url %>
  </div>
</div>