<div class="favorites-wrapper">
  <script type="text/javascript">
    mixpanel.track("Visit favorites#index");
  </script>
  <div class="content">
    <div class="content-top group">
    </div>
    <div class="content-body group">
      <div class="content-main">
        <h2>Favorite Definitions</h2>
        <%= render @definition_faves %>
      </div>
  </div>
</div>


