<form action="<%= send_forgot_password_email_url %>" method="post">
	<label for="email">Email:</label>
	<input type="text" name="email" id="email">
	<input type="Submit" value="Forgot Password">
</form>