<form action="<%= users_url %>" method="post">
  <label for="user_email">Email:</label>
  <input type="text" id="user_email" name="user[email]">
  <label for="user_password">Password:</label>
  <input type="password" id="user_password" name="user[password]">
  <label for="user_subdivision_id">Subdivision ID:</label>
  <input type="number" id="user_subdivision_id" name="user[subdivision_id]">
  <input type="submit" value="Sign Up">
</form>