<div class="set-new-password-wrapper">
	<h2>Provide a New Password</h2>
	Hi, <%= @user.email %>.  Please provide a new password.
	<form action="<%= update_password_url %>" method="post">
		<input type="hidden" name="token" value="<%= params[:token] %>">
		<label for="password">Password:</label>
		<input type="password" name="new_password" id="password">
		<input type="Submit" value="Change Password">
	</form>
</div>