<%= render 'shared/top' %>
<div class="signup-container">
	<div class="signup-header">
		<h1>Start your FREE trial today.</h1>
		<h3>You get a free 50-word glossary, forever.  For more words, it costs only $5 per user/month.</h3>
	</div>
	<div class="company-signup-form-container">
		<div class="company-signup-errors">
			<% if flash[:errors] %>
		    <ul>
		      <% flash[:errors].each do |msg| %>
		        <li>
		          <%= msg %>
		        </li>
		      <% end %>
		    </ul>
		  <% end %>
		</div>
		<div class="company-signup-form group">
			<form action="<%= companies_url %>" method="post" id="company-signup">
				<label for="user_email">Your email address:</label>
				<br>
				<input type="text" name="user[email]" id="user_email">
				<br>
				<label for="user_password">Your password:</label>
				<br>
				<input type="password" name="user[password]" id="user_password">
				<br>
				<label for="user_name">Your full name:</label>
				<br>
				<input type="text" name="user[name]" id="user_name">
				<br>
				<label for="company_name">Company or Organization:</label>
				<br>
				<input type="text" name="company[name]" id="company_name">
				<br>
				<button id="add-cta">Start my free trial</button>
			</form>
		</div>
	</div>
</div>