<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @employee_name.split(" ")[0] %>,
    <br>
    <br>
    Come check out the <%= @company_name %> glossary where you can learn industry and company terminology and definitions.
    <br>
    <br>
    <a href="<%= @invite_link %>">Click this link to get started</a>
    <br>
    <br>
    Best
    <br>
    <%= @inviter_name %>
  </body>
</html>
</html>