<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @employee_name.split(" ")[0] %>,
    <br>
    <br>
    I'm putting together the <%= @company %> glossary and would really appreciate it if you could help contribute some words and definitions you use on a day-to-day basis that other employees should know.
    <br>
    <br>
    <a href="<%= @invite_link %>">Click this link to help contribute words and definitions.</a>
    <br>
    <br>
    Thanks for your help!
    <br>
    <%= @inviter %>
  </body>
</html>
</html>