<div class="add-word-modal hidden">
  <div class="form">
  	<div class="word">
  		<label for="word_name"><h2>Word</h2></label>
  		<input type="text" id="word_name" name="word[name]" placeholder="Type word here">
  	</div>
    <div class="definition_body">
      <label for="definition_body"><h2>Definition</h2></label>
      <textarea name="definition[body]" id="definition_body" type="text" placeholder="Type definition here"></textarea>
    </div>
    <div class="example">
      <label for="example_body"><h3>Example (optional)</h3></label>
      <textarea name="example[body]" id="example_body" placeholder="Type example here"></textarea>
    </div>
     <div class="subdivisions">
      <label for="subdivision_id"><h3>Department (optional)</h3></label>
      <select name="subdivision_id" id="subdivision_id">
        <option value="0">Uncategorized</option>
        <% @subdivisions.each do |subdivision| %>
          <option value="<%= subdivision.id %>"><%= subdivision.name %></option>
        <% end %>
      </select>
    </div>
    <div class="tags">
      <label for="definition_tag_ids"><h3>Tags (optional)</h3></label>
      <select name="definition[tag_ids][]" multiple data-placeholder="Select Tags" id="definition_tag_ids">
        <% @tags.each do |tag| %>
          <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      </select>
    </div>
    <div class="actions">
      <span class="cancel">
        <a href="#" data-id="add-word-modal">Cancel</a>
      </span>
      <button id="add-cta" class="submit-word">
        Add
      </button>
    </div>
  </div>
</div>