<div class="word" id="<%= word.id %>">
  <div class="word-name">
    <h2>Word name</h2>
  </div>
  <div class="top-definition">
    <p>
      Word definition
    </p>
  </div>
  <div class="word-tags">
    Tag 1, Tag 2
  </div>
</div>