<div class="words-wrapper group">
  <div class="add-words-form group">
    <h2>Add Word</h2>
    <form action="<%= words_url %>" method="post" data-remote="true" id="new-word-form">
      <label for="word_name">Word:</label>
      <input type="text" name="word[name]" id="word_name">
      <input type="submit" value="Add Word">
    </form>
  </div>
  <div class="words-list">
    <h2>Words</h2>
    <div class="words">
      <%= render partial: 'word', collection: @words %>
    </div>
  </div>
</div>

