<ul>
  <% @words.each do |word| %>
  <li>
    <%= link_to word.name, word_url(word) %>
    <%= button_to "Delete", word_url(word), method: :delete unless (current_user == nil || current_user.admin == false)  %>
  </li>
  <% end %>
</ul>