<ul>
  <% @words.each do |word| %>
  <li>
    <%= link_to word.name, word_url(word) %>
    <%= button_to "Delete", word_url(word), method: :delete if current_user.admin == true %>
  </li>
  <% end %>
</ul>