<div class="content">
  <div class="content-top group">
    <nav class="content-nav">
      <%= paginate @words %>
    </nav>
    <div class="add-new-button">
      <button id="add-cta">
        Add a Word
      </button>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main">
      <%= render @words %>
      <%= paginate @words %>
    </div>
    <div class="content-sidebar">
      <ul>
        <li>Cost per order</li>
        <li>Daisy chain</li>
        <li>Cost per order</li>
        <li>Daisy chain</li>
        <li>Cost per order</li>
        <li>Daisy chain</li>
      </ul>
    </div>
  </div>
</div>