<div class="content">
  <div class="content-top group">
    <nav class="content-nav">
      <%= paginate @words %>
    </nav>
    <div class="add-new-button">
      <button id="add-cta">
        Add a Word
      </button>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main">
      <%= render @words %>
      <%= paginate @words %>
    </div>
    <div class="content-sidebar">
      <h3>Recently Added</h3>
      <ul>
        <% @recent.each do |word| %>
          <li>
            <%= link_to word.name, word_url(word.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>