<h1><%= @word.name %></h1>
<div class="container-body group">
  <div class="related-words">
    <%= render 'related_words' %>
  </div>
  <div class="word-defs">
    <h3>Definitions</h3>
    <div class="definitions">
      <ol>
        <%= render @definitions %>
      </ol>
    </div>
  </div>
  <div class="new-defs-form">
    <%= render '/definitions/new_defs' %>
  </div>
</div>
