// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require jquery.ui.draggable
//= require jquery.ui.droppable
//= require underscore-min
//= require_tree .
//= require jquery.serializeJSON.js
//= require pusher.min.js
//= require chosen-jquery

var searchPlaceholder = "What would you like to learn?";

$(document).ready(function(){

  $('.word-search').on('focus', function(event){
    var $inputBox = $(this);

    $inputBox.attr("placeholder", "");
  });

  $('.word-search').on('blur', function(event){
    var $inputBox = $(this);
    $inputBox.val("");
    $inputBox.attr("placeholder", searchPlaceholder);
    setTimeout(function(){
    	$('ul.search-results').html("");
    },200);
  });

  $('.content-main').on('click', '.upvote-arrow', function(event){
  	var definitionId = $(event.target).attr("data-id");

  	$.ajax({
  		url: '/definitions/' + definitionId + '/upvote',
  		type: 'POST',
  		success: function(response){
  			flashNotice("Upvoted!");
  			updateVoteCount(definitionId, response);
  		},
  		error: function(response){
  			flashNotice(response.responseText);
  		}
  	});
  });

  $('.content-main').on('click', '.downvote-arrow', function(event){
  	var definitionId = $(event.target).attr("data-id");

  	$.ajax({
  		url: '/definitions/' + definitionId + '/downvote',
  		type: 'POST',
  		success: function(response){
  			flashNotice("Downvoted!");
  			updateVoteCount(definitionId, response);
  		},
  		error: function(response){
  			flashNotice(response.responseText);
  		}
  	});
  });

  $('.main').on('click', 'button.add-definition', function(event){
  	event.preventDefault();
  	modal = $(this).attr('data-id');
  	openModal(modal);
  });

  $('.container').on('click', 'button.add-word', function(event){
  	event.preventDefault();
  	modal = $(this).attr('data-id');
  	openModal(modal);
  })

  $('.container').on('click', 'button.email-curriculum', function(event){
  	event.preventDefault();
  	modal = $(this).attr('data-id');
  	openModal(modal);
  })

  $('.cancel').on('click', 'a', function(event){
  	event.preventDefault();
  	var modal = $(this).attr('data-id')
  	clearForm(modal);
  	closeModal(modal);
  });

  $('.add-definition-modal').on('click', '.submit-definition', function(event){
  	event.preventDefault();
  	$modal = $('.add-definition-modal');
  	$lastDef = $('.definition').last();

  	wordId = $modal.attr("data-id");
  	definitionBody = $modal.find('textarea#definition_body').val();
  	definitionExample = $modal.find('textarea#example_body').val();
  	definitionTags = $modal.find('select#definition_tag_ids').val();
  	subdivisionId = $modal.find('select#subdivision_id').val();

  	$.ajax({
  		url: '/definitions',
  		type: 'POST',
  		data: { word_id: wordId, definition_body: definitionBody, definition_example: { body: definitionExample }, definition_tags: definitionTags, subdivision_id: subdivisionId },
  		success: function(data, status, jqxhr){
  			$lastDef.after(data);
  			closeModal('add-definition-modal');
  			clearForm('add-definition-modal');
  		},
  		error: function(jqxhr, status, error){
  			console.log(jqxhr);
  			console.log(status);
  			console.log(error);
  		}
  	})
  })

	$('.add-word-modal').on('click', '.submit-word', function(event){
		event.preventDefault();
		$modal = $('.add-word-modal');

		wordName = $modal.find('input#word_name').val();
		definitionBody = $modal.find('textarea#definition_body').val();
		definitionExample = $modal.find('textarea#example_body').val();
		definitionTags = $modal.find('select#definition_tag_ids').val();
  	subdivisionId = $modal.find('select#subdivision_id').val();

  	$.ajax({
  		url: '/words',
  		type: 'POST',
  		data: {
  			word_name: wordName,
  			definition_body: definitionBody,
  			definition_example: {
  				body: definitionExample
  			},
  			definition_tags: definitionTags,
  			subdivision_id: subdivisionId
  		},
  		success: function(data, status, jqxhr){
  			closeModal('add-word-modal');
  			clearForm('add-word-modal');
  			window.location.href = '/words/' + data;
  		},
  		error: function(jqxhr, status, error){
  		}
  	})
	})

	$('.email-curriculum-modal').on('click', '.email-curriculum', function(event){
		event.preventDefault();
		$modal = $('.email-curriculum-modal');

		emailEmails = $modal.find('input#email_emails').val();
		emailBody = $modal.find('textarea#email_body').val();
		curriculumId = $('#curriculum-id').attr("data-id");

		$.ajax({
			url: '/curriculums/' + curriculumId + '/email',
			type: 'POST',
			data: {
				email_addresses: emailEmails,
				email_body: emailBody,
				curriculum_id: curriculumId
			},
			success: function(data, status, jqxhr){
				closeModal('email-curriculum-modal');
				clearForm('email-curriculum-modal');
			},
			error: function(jqxhr, status, error){
	  		console.log(jqxhr);
  			console.log(status);
  			console.log(error);		
			}
		})
	})

  var closeModal = function(modalClass){
  	$('.' + modalClass).addClass('hidden');
  };

  var openModal = function(modalClass){
  	$('.' + modalClass).removeClass('hidden');
  };

  var clearForm = function(modalClass) {
  	$modal = $('.'+ modalClass)
  	$modal.find('textarea').val('');
  	$modal.find('input').val('');
  	$modal.find("option:selected").removeAttr("selected");
  	$modal.find('select').trigger('chosen:updated');
  	console.log('cleared ' + modalClass);
  };

  var updateVoteCount = function (definitionId, response) {
    var total = response.total
    var upvotes = response.upvotes
    var downvotes = response.downvotes
    $('div#' + definitionId).find('#total-score').html(total);
  };

  var flashNotice = function (msg) {
  	console.log(msg);
  };

  $('#definition_tag_ids').chosen({
  	width: "100%"
	});

	$('#subdivision_id').chosen({
		width: "100%"
	});

	$('.search-bar').on('keyup', 'input', function(event){
		var searchTerm = $(this).val();
		if (searchTerm.length > 2) {
			search(searchTerm, function(result){
				$('ul.search-results').html("");
				_.each(result, function(el, idx, list){
					$('ul.search-results').append('<li><a href="/words/' + el.id + '">' + el.name + '</a></li>');
				})
			})
		} else if ((searchTerm.length === 0) && (event.charCode === 0)){
			$('ul.search-results').html("");
		}
	})

	$('#curriculum_search').on('keyup', function(event){
		var searchTerm = $(this).val();
		if (searchTerm.length > 2){
			search(searchTerm, function(result){
				$('ul.curriculum-search-results').html("");
				_.each(result, function(el, idx, list){
					$('ul.curriculum-search-results').append('<li>' + el.name + '</li>');
				})
			})
		} else if ((searchTerm.length === 0) && (event.charCode === 0)){
			$('ul.curriculum-search-results').html("");
		}
	});

	var search = function(keyword, callback){
		$.ajax({
			url: '/search',
			type: 'post',
			data: { keyword: keyword },
			success: function(data, textStatus, jqXHR){
				callback(data.results)
			},
			error: function() {
				console.log("error")
			}
		})
	};
});



// OLD JS

// $(document).ready(function(){
//   // Adding new words from the words#index page
//   $('#new-word-form').on('ajax:success', function(event, data, xhr){
//     event.preventDefault();
//     $form = $(this);
//     $('.words nav.word-pages').first().after(data);
//     // $('.words').prepend(data);
//     $form[0].reset();
//     flashNotice("Word Added");
//   })

//   $('#new-word-form').on('ajax:error', function(event,data,xhr){
//     event.preventDefault();
//     if(!isNaN(data.responseText)) {
//       window.location.href = "/words/" + data.responseText
//     } else {
//       flashNotice(data.responseText)
//     }
//   })

//   // Deleting words from the words#index page (admin only)
//   $('.words-list').on('click', '.delete-word', function(event){
//     event.preventDefault();
//     $wordId = $(event.target).attr("data-id")
//     $.ajax({
//       url: '/words/' + $wordId,
//       type: 'DELETE',
//       success: function(response){
//         $('.words').find('#' + $wordId).remove();
//         flashNotice("Word Deleted");
//       }
//     })
//   })

//   // Adding definitions from words#show
//   $('#new-def-form').on('ajax:success', function(event, data, xhr){
//     $form = $(this);
//     $('.definitions ul').append(data);
//     $form[0].reset();
// 		$('#new-def-form #select-tags').val('').trigger('chosen:updated');
// 		$('#new-def-form #select-subdivision').val('').trigger('chosen:updated');
//     flashNotice("Definition Added");
//   })

//   $('#new-def-form').on('ajax:error', function(event,data,xhr){
//     event.preventDefault();
//     console.log(data.responseText);
//   })

//   $('#new-def-form').on('ajax:complete', function(){
//     $('select').chosen({width: "95%"});
//   })

//   // Deleting definitions from words#show
//   $('.definitions').on('click', '.delete-definition', function(event){
//     event.preventDefault();
//     var definitionId = $(event.target).attr("data-id");
//     $.ajax({
//       url: '/definitions/' + definitionId,
//       type: 'DELETE',
//       success: function(response){
//         $('.definitions #' + definitionId).remove();
//         flashNotice("Definition Deleted")
//       },
//       error: function() {
//         console.log("Error")
//       }
//     })
//   })

//   // Favoriting a definition in words#show
//   $('.definitions').on('click', '.mark-favorite', function(event){
//     event.preventDefault();
//     var definitionId = $(event.target).attr("data-id");

//     $.ajax({
//       url: '/definitions/' + definitionId + '/favorite',
//       type: 'POST',
//       success: function(response) {
//         flashNotice("Definition Favorited");
//         swapFavorite(definitionId);
//       },
//       error: function(response) {
//         flashNotice(response.responseText)
//       }
//     })
//   })

//   // Unfavoriting a definition in words#show
//   $('.definitions').on('click', '.mark-unfavorite', function(event) {
//     event.preventDefault();
//     var definitionId = $(event.target).attr("data-id");

//     $.ajax({
//       url: '/definitions/' + definitionId + '/unfavorite',
//       type: 'DELETE',
//       success: function(response) {
//         flashNotice("Definition Unfavorited");
//         swapFavorite(definitionId);
//       },
//       error: function(response) {
//         flashNotice(response.responseText);
//       }
//     })
//   });

//   // Upvoting a definition in words#show
//   $('.definitions').on('click', '.upvote-arrow', function(event) {
//     event.preventDefault();
//     var definitionId = $(event.target).attr("data-id")

//     $.ajax({
//       url: '/definitions/' + definitionId + '/upvote',
//       type: 'POST',
//       success: function(response){
//         flashNotice("Upvoted!");
//         updateVoteCount(definitionId, response);
//       },
//       error: function(response){
//         flashNotice(response.responseText);
//       }
//     })
//   });

//   // Downvoting definition in words#show
//   $('.definitions').on('click', '.downvote-arrow', function(event){
//     var definitionId = $(event.target).attr("data-id");

//     $.ajax({
//       url: '/definitions/' + definitionId + '/downvote',
//       type: 'POST',
//       success: function(response){
//         flashNotice("Downvoted!");
//         updateVoteCount(definitionId, response);
//       },
//       error: function(response){
//         flashNotice(response.responseText);
//       }
//     })
//   });

//   // Adds more fields for admin to add users
//   $('.more-users').on('click', function(event){
//     $.ajax({
//       url: '/users/add_more',
//       type: 'GET',
//       success: function(response){
//         $('#submit-button').before(response);
//       }
//     })
//   })

//   // Displays and hides the additional menu for the inbox
//   $('.nav-bar-inbox').on('click', 'a', function(event){
//     event.preventDefault();
//     $('.bottom-nav').toggleClass('hidden');
//   })

//   // Favoriting curriculum
//   $('.unfavorite-curriculum').on('ajax:success', function(event, data, xhr){
//     flashNotice("Curriculum unfavorited")
//     swapFavoriteCurriculum();
//   })

//   // Unfavoriting curriculum
//   $('.favorite-curriculum').on('ajax:success', function(event, data, xhr){
//     flashNotice("Curriculum favorited")
//     swapFavoriteCurriculum();
//   })

//   $('#compose-new-message').on('click', function(event){
//     event.preventDefault();
//     $('.compose-message-modal').toggleClass('hidden');
//     $('.compose-message-modal').css("z-index",2)
//     toggleLightbox();
//   })

//   $('#close-compose-message-modal').on('click', function(event){
//     closeNewMessageModal();
//     toggleLightbox();
//   })

//   $('#close-add-first-definition-modal').on('click', function(event){
//     closeNewDefinitionModal();
//     toggleLightbox();
//   })

//   // If message is sent successfully, close the lightbox and compose message modal
//   $('.compose-message-form').on('ajax:success', function(event, data, xhr){
//     $form = $(this);
//     $form[0].reset();
//     closeNewMessageModal();
//     toggleLightbox();
//     flashNotice("Message Sent");
//   })

//   // Remove all the modals and the lightbox whenever user clicks on area outside the lightbox
//   $('.black_overlay').on('click', function(event){
//     $('.modal').each(function(index,elem){
//       var $elem = $(elem)
//       if (!$elem.hasClass('hidden')){
//         $elem.addClass('hidden');
//       }
//     })
//     toggleLightbox();
//   })

//   $('.words-list').on('click', 'button.next-definition', function(event){
//     var $allDefs = $(event.currentTarget).closest('div').find('li');
//     var numDefs = $allDefs.length;
//     var $currentDef = $allDefs.not('.hidden')
//     var nextDef;

//     if ((numDefs > 1) && ($currentDef.index() < numDefs-1)) {
//       $nextDef = $currentDef.next();
//       $nextDef.toggleClass('hidden');
//       $currentDef.toggleClass('hidden');
//     } else {
//       $nextDef = $allDefs.first();
//       $nextDef.toggleClass('hidden');
//       $currentDef.toggleClass('hidden');
//     }
//   });

//   // $('.add-to-curriculum').on('change', function(event){
//   //   // console.log($(this).attr("data-id"))
//   //   console.log($(this).find("select option:selected"))
//   // });

//   // Checks if user email already exists in database.
//   $('.sign-up-wrapper').on('blur', '#user_email', function(event){
//     var userEmail = $(event.currentTarget).val();
//     if (userEmail.length > 0) {
//       $.ajax({
//         url: '/users/valid_email',
//         type: 'get',
//         dataType: 'json',
//         data: { email: userEmail },
//         success: function(data, response, xhr){
//           $('#valid-email-notice').html(data.message);
//         },
//         error: function() {
//           console.log("error")
//         }
//       })
//     }
//   })

//   // Removes email validity message when the user tries to enter text into the box again.
//   $('.sign-up-wrapper').on('focus', '#user_email', function(event){
//     $('#valid-email-notice').empty();
//   })

//   $('.words-list').on('click', '#add-first-definition', function(event){
//     var wordId = $(event.currentTarget).closest('div.word').attr("id");
//     $('.add-first-definition-modal').removeClass('hidden');
//     $('.add-first-definition-modal').css('z-index', 2);
//     $('.add-first-definition-form #word-id').attr("value", wordId)
//     toggleLightbox();
//   })

//   $('.add-first-definition-form').on('ajax:success', function(event, data, xhr){
//     var wordId = data.definition.word_id;
//     var $wordDiv = $('.word#' + wordId)
//     var addFirstWordLink = $('.word#' + wordId + ' a#add-first-definition')
//     var $defList;
//     var newDef = data.definition;
//     var defIndex = data.index + 1;
//     var $defLi = $('<li></li>')

//     $wordDiv.find('.one-definition').append($('<ul></ul>'));
//     $defList = $wordDiv.find('ul')

//     $defLi.html(defIndex + ".) " + newDef.body);
//     $defList.html($defLi);
//     closeNewDefinitionModal();
//     toggleLightbox();
//     addFirstWordLink.remove();
//   })

//   $('.definitions').on('click', 'div.definition p', function(event){
//     var definitionId = $(event.target).closest('li').attr("id");
//     $('#inline-edit-definition-body-'+definitionId).toggleClass('hidden')
//     $(this).toggleClass('hidden')
//   })

//   $('.inline-update-definition').on('ajax:success', function(event, data,xhr){
//     var newDef = data.body
//     $(event.target).closest('div').toggleClass('hidden')
//     $defP = $(event.target).closest('div').closest('div.definition').find('p')
//     $defP.toggleClass('hidden').html(newDef);
//   })
	
// 	$('.inline-update-definition').on('click', '.cancel', function(event) {
// 		event.preventDefault();
//     var definitionId = $(event.target).closest('li').attr("id");
//     $('#inline-edit-definition-body-'+definitionId).toggleClass('hidden');
// 		$('li#'+definitionId+' .definition p').toggleClass('hidden');
// 	})
	
// 	$('.notify-new-definitions').on('click', 'a', function(event){
// 		event.preventDefault();
// 	})

//   // Helper function for showing notices/errors
//   var flashNotice = function (message) {
//     $('div.notices').empty();
//     $('div.notices').fadeIn();
//     $('div.notices').removeClass('hidden');
//     $('div.notices').append(message);
//     $('div.notices').css('z-index',1000)
//     window.setTimeout(function() {
//       $('div.notices').fadeOut();
//     }, 3000)
//   }

//   // Helper function for hiding/unhiding the favorite/unfavorite definition button
//   var swapFavorite = function (definitionId) {
// 		$('li#'+definitionId).find('.mark-unfavorite').toggleClass('hidden');
// 		$('li#'+definitionId).find('.mark-favorite').toggleClass('hidden');
//   }

//   // Helper function for hiding/unhiding the favorite/unfavorite curriculum button

//   var swapFavoriteCurriculum = function () {
//     $('.curriculum-wrapper').find('.favorite-curriculum').toggleClass('hidden');
//     $('.curriculum-wrapper').find('.unfavorite-curriculum').toggleClass('hidden');
//   }

//   // Helper function for updating the total, upvote, and downvote count when voting.
//   var updateVoteCount = function (definitionId, response) {
//     var total = response.total
//     var upvotes = response.upvotes
//     var downvotes = response.downvotes
//     $('li#' + definitionId).find('#total-score').html(total);
//     // $('li#' + definitionId).find('li#sum-upvotes').html("Up: " + upvotes);
//     // $('li#' + definitionId).find('li#sum-downvotes').html("Down: " + downvotes);
//   }

//   var closeNewMessageModal = function () {
//     $('.compose-message-modal').toggleClass('hidden');
//   }

//   var closeNewDefinitionModal = function () {
//     $('.add-first-definition-modal').toggleClass('hidden');
//   }

//   var toggleLightbox = function () {
//     if ($('.black_overlay').css("display") == "none") {
//       $('.black_overlay').css("display", "block");
//     } else {
//       $('.black_overlay').css("display", "none");
//     }
//   }

//   $('select').chosen({width: "100%"});
	
// 	$('#curriculum-search-form').on('keyup', '#keyword', function(event){
// 		var keyword = $(this).val();
// 		var $resultsList = $('.new-curriculum-wrapper .results-list')
// 		$resultsList.empty();
// 		var $result;
// 		if(keyword.length >= 3){
// 			search(keyword, function(words){
// 				$.each(words, function(index, word){
// 					$.each(word.definitions, function(index, definition){
// 						$result = createResultLi(word, definition)
// 						$resultsList.append($result);
// 						makeDraggable($result);
// 					})
// 				})
// 			});
// 		}
// 	})
	
// 	var createResultLi = function(word, definition) {
// 		var li = $('<li class="curriculum-search-result" id=' + definition.id + '><strong>' + word.name + '</strong><br>' + definition.body + '</li>')
// 		return li;
// 	}
	
// 	var search = function(keyword, callback){
// 		$.ajax({
// 			url: '/search',
// 			type: 'post',
// 			data: { keyword: keyword },
// 			success: function(data, textStatus, jqXHR){
// 				callback(data.results)
// 			},
// 			error: function() {
// 				console.log("error")
// 			}
// 		})
// 	}
	
// 	$('.add-definitions-drop').droppable({
// 		accept: ".results-list li",
// 		drop: function (event, ui){
// 			var wordId = ui.helper.attr("id")
// 			var word = ui.helper.html()
// 			var wordItem = ui.helper
// 			wordItem.removeAttr('style');
// 			$('div.add-definitions-drop ul').append(wordItem)
// 			$('h3#defs-added').html("Definitions Added (" + curriculumBuildDefCount() + "):")
// 			$('.drag-and-drop-message').addClass('hidden');
// 			$(this).toggleClass('light-up-droppable');	
// 		}
// 	})
	
// 	$('.add-definitions-drop').on('dropover', function(event, ui){
// 		$(this).addClass('light-up-droppable');
// 	})
	
// 	$('.add-definitions-drop').on('dropout', function(event, ui){
// 		$(this).removeClass('light-up-droppable');
// 	})
	
// 	$('form#create-curriculum').on('submit', function(event){
// 		var form = this;
// 		var definitionIds;
// 		event.preventDefault();
		
// 		definitionIds = getDefinitionIds($('div.add-definitions-drop ul li'))
		
// 		formData = $(form).serializeJSON();
// 		formData["curriculum"]["definition_ids"] = definitionIds
	
// 		$.ajax({
// 			url: "/curriculums",
// 			type: "post",
// 			data: formData,
// 			success: function(data, textStatus, jqXHR){
// 				flashNotice("Curriculum saved!")
// 				$(form)[0].reset();
// 				$('form#curriculum-search-form')[0].reset();
// 				$('.results-list li').remove();
// 				$('div.add-definitions-drop ul li').remove();
// 				$('h3#defs-added').html("Definitions Added:")
// 			},
// 			error: function(jqXHR, textStatus, errorThrown) {
// 				flashNotice(jqXHR.responseText)
// 			}
// 		})
// 	})
	
// 	var curriculumBuildDefCount = function() {
// 		return $('div.add-definitions-drop ul li').length
// 	}
	
// 	$('.email-curriculum-form').on('ajax:success', function(event,data,xhr){
// 		flashNotice("Curriculum sent!")
// 		$(this)[0].reset();
// 	})
	
// 	var makeDraggable = function ($el) {
// 		$el.draggable({
// 			revert: "invalid"
// 		})
// 	}
	
// 	var getDefinitionIds = function($list){
// 		var definitionIds = [];
// 		$list.map(function(index,el){
// 			definitionIds.push($(el).attr("id"))
// 		})
// 		return definitionIds;
// 	}
// });