/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body, header, h1, h2, h3, div{
  margin:0;
  padding:0;
  border:0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

body{
  background: #4e7ca0;
}

header{
  background: #FFC652;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

header .top-header-left{
  float: left;
  width: 200px;
}

header .top-header-right{
  float: right;
}

header .sign-in-up-out{
  float: left;
}

header .search{
  float: left;
}

.bottom-header > nav > ul {
  float: right;
}

.bottom-header > nav > ul > li {
  list-style-type: none;
  float: right;
}

.bottom-header > nav > ul > li {
  float: left;
  padding: 5px;
}

.container{
  background: white;
  margin: auto;
  width: 1000px;
}

.container > .container-body{
  padding-top:50px;
}

.container > .container-body > .related-words{
  float: left;
  width: 200px;
}

.container > .container-body > .new-defs-form{
  float: right;
  width: 250px;
}

.container > .container-body > .word-defs{
  float: left;
  width: 540px;
  margin-right: 10px;
}

.def-footer > a{
  float: left;

}

.def-footer > form{
  float: left;
  padding-left: 5px;
}

.word{
  float: left;
}

.vote-info{
  float: right;
}

.vote-info > .upvote, .downvote, .total-votes{
  float: left;
}
