/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 *= require jquery.ui.all
 */


body, header, h1, h2, h3, div, nav ul, nav li, p{
  margin:0;
  padding:0;
  border:0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}

h1{
  font-size: 2.25em
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.17em;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

body{
  background: #4e7ca0;
}

.social{
  background: #3F627D;
}

.social-wrapper{
  width: 325px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-wrapper button{
  background: #ed6523;
  color: white;
  border: none;
  border-bottom: 2px solid black;
}

button, .submit{
  background: #ed6523;
  color: white;
  border: none;
  border-bottom: 2px solid black;
}

button:hover, .submit:hover{
	background: #ccc;
	color: black;
	cursor: pointer;
}

.hidden{
  display:none;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.6;
}

.notices{
  float: left;
  position: fixed;
  top:0;
  left:0;
  background: #FFC652;
  color: #9E3200;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.mark-favorite, .mark-unfavorite, .delete-definition, .favorite-curriculum-button, .unfavorite-curriculum-button{
  background: #ed6523;
  color: white;
  border: none;
  border-bottom: 2px solid black;
}

#website-description{
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
	color: #454545;
}

#website-description p{
	font-size: 18px;
}

header{
  background: #4e7ca0;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  font-size: 12px;
}

header .logo a{
	font-size: 48px;
	color: white;
	text-decoration: none;
}


header .top-header-left{
  float: left;
  width: 200px;
}

header .top-header-right{
  margin-top: 60px;
  float: right;
  width: 600px;
}

header .sign-in-up-out{
  margin-top: 1px;
  float: right;
}

header .sign-in-up-out p {
  float: left;
  color: white;
}

header .sign-in-up-out .button-to {
  float: left;
}

header .search{
  float: right;
}

.bottom-header nav {
	float: right;
}

.bottom-header > nav > ul{
  float: right;
}

.bottom-header > nav > ul > li {
  list-style-type: none;
  background: #40627C;
  float: left;
  margin: 1px;
  padding: 5px;
  position: relative;
}

.bottom-header > nav > ul > li:last-child{
  margin-right:0;
}

.bottom-header > nav > ul > li > a {
  text-decoration: none;
  color: white;
  display: block;
}

.bottom-header > nav > ul > li:hover .inbox-options{
	display: block;
	position: absolute;
}

.bottom-header .inbox-options{
  float: right;
}

.bottom-header .inbox-options li{
	list-style-type: none;
  float: left;
  padding: 2px 7px 2px 7px;
}

.bottom-header .inbox-options li a{
  text-decoration: none;
  color: #9E3200;
  font-weight: bold;
}
/*
.bottom-header .inbox-options li:nth-child(1){
  border-top:none;
}*/

.bottom-header .bottom-nav{
  float: right;
  width: 1000px;
  background: #FFC652;
}

.compose-message-modal{
  position: absolute;
  width: 500px;
  height: 200px;
  top: 25px;
  left: 200px;
  background: #fffbce;
  border: 1px solid #FFC652;
  padding: 20px;
}

.add-first-definition-modal{
  position: absolute;
  width: 500px;
  height: auto;
  top: 25px;
  left: 200px;
  background: #fffbce;
  border: 1px solid #FFC652;
  padding: 20px;
}

.container{
  background: white;
  margin: auto;
  width: 1000px;
  position: relative;
}

.container > .container-body{
  padding: 40px;
  margin-bottom: 50px;
}

.container > .container-body > .related-words{
  float: left;
  width: 170px;
  height: 100%;
}

.container > .container-body > .new-defs-form{
  float: right;
  width: 200px;
}

.new-defs-form ul {
  margin: 0;
  padding: 0;
}

.container > .container-body > .word-defs{
  float: left;
  width: 540px;
  margin-right: 10px;
}



.def-footer > form{
  float: left;
  padding-left: 5px;
}

/*Footer*/
footer{
  width: 1000px;
  margin: auto;
  background: #FFC652;
  margin-bottom: 50px;
}

/*Words*/

.word{
  float: left;
}

.vote-info{
  float: right;
}

.vote-info > .upvote, .downvote, .total-votes{
  float: left;
}

.upvote, .downvote, .next-definition{
  background: #476a90;
  color: #FBFFEA;
  border: none;
  border-bottom: 2px solid black;
}

.upvote:hover, .downvote:hover, .mark-favorite:hover, .mark-unfavorite:hover, .delete-definition:hover, .next-definition:hover {
  cursor: pointer;
}

.words-wrapper{
  padding: 40px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.add-words-form {
  float: right;
  width: 280px;
}

.add-words-form h2{
  /*float: right;
  width: 300px;*/
}

.words-list{
  float: left;
  width: 620px;
}

.words-list .word {
  width: 620px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.word-info .word-name {
  float: left;
}

.word-info .delete-word{
  float: left;
}

.words-list .word .one-definition {
  float: left;
  width: 475px;
}

.words-list .word .one-definition li{
  list-style: none;
}

.words-list .word form {
  float: left;
  margin-left: 5px;
}

#new-def-form li {
  list-style: none;
}

nav.word-pages{
  text-align: center;
}

div.next-definition-wrapper{
  width: 120px;
  float: right;
}

/*User and Sessions*/

.new-session-wrapper{
  padding: 40px;
}

.forgot-password-wrapper{
  padding: 40px;
}

.sign-up-wrapper{
  padding: 40px;
}

.set-new-password-wrapper{
	padding: 40px;
}

/*Subdivisions*/

.subdivisions-wrapper{
  padding: 40px;
}

.subdivision-wrapper{
  padding: 40px;
}

.word li{
  list-style: none;
}

/*Curriculums*/

.curriculums-wrapper{
  padding: 40px;
}

.new-curriculum-wrapper{
  padding: 40px;
}

.curriculum-wrapper{
  padding: 40px ;
}

.results-list{
  margin: 0;
  padding: 5px 0 0 0;
}

.results-list li {
	cursor: move;
}

.curriculum-details{
	width: 400px;
	float: right;
}

.add-definitions-drop{
	background: #ccc;
	border: 2px solid #4e7ca0;
	width: 360px;
	height: 300px;
	overflow: auto;
	float: left;
	padding: 20px;
}

.add-definitions-drop ul{
  margin: 0;
  padding: 0;
}

.search-and-results{
	width: 400px;
	float: left;
}

.drag-and-drop-message{
	font-size: 36px;
	text-align: center;
	margin-top: 100px;
}

.light-up-droppable{
	background: #FFC652;
}

li.curriculum-search-result{
  background: #61929C;
  padding: 5px;
  margin-bottom: 2px;
  list-style: none;
}

div.add-to-curriculum-wrapper{
  width: 150px;
  float: right;
}

.curriculum-wrapper label{
  font-weight: bold;
}

/*Tags*/

.tags-wrapper{
  padding: 40px;
}

.tags-wrapper form{
  display: inline-block;
}

/*Bulk New*/

.bulk-new-wrapper{
  padding: 40px;
}

/*Sent Messages*/

.sent-messages-wrapper{
  padding: 40px;
}

/*Received Messages*/

.received-messages-wrapper{
  padding: 40px;
}

.message-wrapper{
  padding: 40px;
}

/*New Message*/

.new-message-wrapper{
  padding: 40px;
}

/*Favorites*/

.favorites-wrapper{
  padding: 40px;
}

/*Tags*/
.tag-wrapper{
  padding: 40px;
}

.tag-pages{
  text-align: center;
}

/*Results*/
.results-wrapper{
  padding: 40px;
}

#mc_embed_signup{
/*	clear:left; */
	font:14px Helvetica,Arial,sans-serif; 
	color: white;
  width: 650px;
  margin: auto;
	text-align: center;
}

.sign-up-fields-wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	margin:auto;
}

.mc-field-group{
	float: left;
}

button#subscribe{
	float: left;
}

#mc_embed_signup p:first-child{
	padding-top: 5px;
}

#mc_embed_signup p{
	padding-bottom: 5px;
}