/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 *= require jquery.ui.all
 */


body, header, h1, h2, h3, div, p, ul, li{
  margin:0;
  padding:0;
  border:0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}

h1{
  font-size: 2.25em
}

h2{
  font-size: 1.5em;
  color: #373737;
}

h3{
  font-size: 1.17em;
}

p{
  color: #A9A9A9;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}

body{
  background: #ffffff;
}

.container{
  padding: 20px;
  width: 1380px;
  /*background: red;*/
}

button{
  background: #008FC7;
  border: none;
  color: white;
}

/* Layout Top */
.top{
  /*background: blue;*/
  margin: 0 0 30px 0;
}

.nav{
  width: 1000px;
  margin: 0 190px 0 190px;
  /*background: yellow;*/
}

.nav-left{
  width: 400px;
  float: left;
}

.nav-right{
  width: 400px;
  float: right;
}

.logo{
  float: left;
  height: 50px;
  width: 200px;
  background: gray;
}

.links{
  height: 50px;
  float: left;
  margin-left: 50px;
}

.links ul{
  list-style: none;
}

.links ul li{
  float: left;
  height: 50px;
  margin: 15px 0 0 0;
}

.links a{
  margin: 0 20px 0 0;
}

.user-info{
  float: right;
}

.name{
  float: left;
  margin: 10px 10px 0 0;
}

.avatar{
  float: left;
}

/* Layout Search */
.search{
  height: 180px;
  background: #333333;
  text-align: center;
}

.search-icon{
  float: left;
  margin: 60px 0 0 180px;
}

.search-bar{
  float: left;
  margin: 0 0 0 20px;
}

input.word-search{
  margin: 15px 0 0 0;
  width: 850px;
  height: 150px;
  font-size: 48px;
  border: none;
  background: none;
}

.search-focus{
  color: white;
}

/* Layout Main */
.main{
  /*background: yellow;*/
}

.content{
  width: 1000px;
  margin: 0 190px 0 190px;
  /*background: teal;*/
}

.content-boxes{
  height: 300px;
  padding: 20px 0 20px 0;
  /*background: blue;*/
}

.content-box{
  width: 300px;
  float: left;
  /*background: purple;*/
  margin-right: 50px;
}

.content-box:nth-child(3){
  margin: 0;
}

.content-box-pic{
  height: 160px;
  /*background: #cccccc;*/
  text-align: center;
}

.content-box-text{
  margin: 20px 0 0 0;
  height: 80px;
  /*background: green;*/
}

.add-words-box{
  height: 60px;
  padding: 20px 0 20px 0;
  /*background: maroon;*/
}

.add-words-text{
  float: left;
  width: 800px;
}

.add-words-button{
  float: right;
}

/* Layout Footer */
footer{
  background: #E5E5E5;
  margin: 50px 0 0 0;
  height: 100px;
}

/* Static Main Page */
button#add-cta{
  padding: 15px 25px 15px 25px;
  font-size: 14px;
  border-bottom: 3px solid #0066CC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

button#add-cta:hover{
  background: #0066CC;
  border-bottom: 3px solid #0066CC;
}

button#add-sub-cta{
  background: #E5E5E5;
  border: none;
  color: #565656;
  padding: 15px 25px 15px 25px;
  font-size: 14px;
  border-bottom: 3px solid #bababa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

button#add-sub-cta:hover{
  background: #bababa;
}

.add-words-box{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.content-nav{
  float: left;
  margin: 30px 0 0 0;
}

.add-new-button{
  float: right;
}

.content-top{
  padding: 30px 0 30px 0;
  border-bottom: 1px solid gray;
}

.content-body{
  padding: 30px 0 30px 0;
}

.content-main{
  float: left;
  width: 700px;
}

.content-main-curriculums{
}

.content-sidebar{
  float: right;
  width: 300px;
}

/* Main Page Sidebar */
.content-sidebar ul, .content-sidebar h3{
  margin: 0 0 0 100px;
}

.content-sidebar ul li{
  list-style: none;
}

/* Word */
.word{
  padding: 30px 0 20px 0;
}

.word:nth-child(1){
  padding-top: 0;
}

.word-name{
  padding: 0 0 20px 0;
}

.top-definition{
  padding: 0 0 20px 0;
}

.word-tags{
  color: #9C9C9C;
  font-weight: bold;
  font-size: 10px;
}

.add-to-curriculum-button{
  float: right;
}

.add-a-definition-button{
  float: right;
  margin: 30px 0 0 0;
}

/* Definition */
.definition{
  border-bottom: 1px solid #cccccc;
  padding: 0 0 20px 0;
  margin: 30px 0 0 0;
}

.definition:nth-child(1){
  margin: 0;
}

.definition-content{
  float: left;
  width: 600px;
}

.definition-body{
  padding: 0 0 10px 0;
}

.definition-examples{
  padding: 0 0 10px 0;
}

.definition-tags{
  padding: 0 0 10px 0;
  color: #9C9C9C;
  font-weight: bold;
  font-size: 10px;
}

.definition-options{
  padding: 0 0 10px 0;
}

.definition-votes{
  vertical-align:top;
  float: right;
  height: 50px;
  text-align: center;
}

.upvote-arrow{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #dbdbdb transparent;
}

.upvote-arrow:hover{
  border-color: transparent transparent #bababa transparent;
}

.downvote-arrow{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #dbdbdb transparent transparent transparent;
  margin: 15px 0 0 0;
}

.downvote-arrow:hover{
  border-color: #bababa transparent transparent transparent;
}

.total-score{
  padding: 0;
  margin: 0 0 0 5px;
}

/* Entity Show */
.content-title{
  font-size: 38px;
  float: left;
}

